@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap");

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #1a1a1a;
        --body-color: #ccc;
        --nav-background-color: #630d83;
        --main-background-color: #2e2e2e;
        --button-accent-one: #4169e1;
        --button-accent-two: #28a745;
        --button-accent-three: #c851e1;
        --button-accent-four: #d63384;
        --button-accent-five: #ffc107;
        --link-color: #69b3ff;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --body-background-color: #b9c3cf;
        --body-color: #000;
        --nav-background-color: #a630d2;
        --main-background-color: #fff;
        --button-accent-one: #0334bf;
        --button-accent-two: #18862f;
        --button-accent-three: #e973ff;
        --button-accent-four: #f14fb4;
        --button-accent-five: #ff9f17;
        --link-color: #5c1d8b;
    }
}

.material-symbols-outlined {
    vertical-align: middle !important;
    line-height: 1 !important;
}

a {
    vertical-align: middle !important;
    line-height: 1 !important;
}

body {
    background-color: var(--body-background-color);
    color: var(--body-color);
    font-family: "Roboto Slab", serif;
    overscroll-behavior: none;
    position: relative;
    z-index: 1;
}

body.no-scroll-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Still needed to prevent scroll on the body itself */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header h1 {
    font-size: 70px;
    margin: 0 10px;
    font-family: "Pixelify Sans", sans-serif;
    color: var(--body-color);
    cursor: pointer;
}

.back {
    background-color: #f30f0c;
    top: 0;
    left: 0;
    z-index: 1;
}
.front {
    background-color: #18862f;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.search-wrapper {
    max-width: 900px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--main-background-color);
    color: var(--body-color);
}

.active {
    font-weight: 900;
}

.logo-year {
    height: 40px;
    cursor: pointer;
}

.colors-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.colors-wrapper span {
    box-shadow:
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 3px 1px -2px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.colors-wrapper span:hover {
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo-link {
    color: black;
    text-decoration: none;
}

#logo {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.logo-square {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
}

main {
    max-width: 900px;
    margin: 10px auto;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--main-background-color);
}

#space-between-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1,
h2 {
    font-family: "Arial Black", sans-serif;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 10px;
    border: 0;
    text-decoration: none;
    margin: 5px;
    padding: 8px;
    text-align: center;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    font-size: 20px;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0 #ffffff;
    transform: translateY(4px);
}

.white {
    background-color: white;
    color: black;
}
.link {
    cursor: pointer;
    text-decoration: underline;
    color: var(--link-color);
}
a {
    color: var(--link-color);
}
.light-grey {
    background-color: #b9c3cf;
    color: black;
}
.medium-grey {
    background-color: #777f8c;
    color: white;
}
.deep-grey {
    background-color: #424651;
    color: white;
}
.dark-grey {
    background-color: #1f1e26;
    color: white;
}
.black {
    background-color: black;
    color: white;
}
.dark-chocolate {
    background-color: #382215;
    color: white;
}
.chocolate {
    background-color: #7c3f20;
    color: white;
}
.brown {
    background-color: #c06f37;
    color: black;
}
.peach {
    background-color: #fead6c;
    color: black;
}
.beige {
    background-color: #ffd2b1;
    color: black;
}
.pink {
    background-color: #ffa4d0;
    color: black;
}
.magenta {
    background-color: #f14fb4;
    color: black;
}
.mauve {
    background-color: #e973ff;
    color: black;
}
.purple {
    background-color: #a630d2;
    color: white;
}
.dark-purple {
    background-color: #531d8c;
    color: white;
}
.navy {
    background-color: #242367;
    color: white;
}
.blue {
    background-color: #0334bf;
    color: white;
}
.azure {
    background-color: #149cff;
    color: white;
}
.aqua {
    background-color: #8df5ff;
    color: black;
}
.light-teal {
    background-color: #01bfa5;
    color: white;
}
.dark-teal {
    background-color: #16777e;
    color: white;
}
.forest {
    background-color: #054523;
    color: white;
}
.dark-green {
    background-color: #18862f;
    color: white;
}
.green {
    background-color: #61e021;
    color: black;
}
.lime {
    background-color: #b1ff37;
    color: black;
}
.pastel-yellow {
    background-color: #ffffa5;
    color: black;
}
.yellow {
    background-color: #fde111;
    color: black;
}
.orange {
    background-color: #ff9f17;
    color: black;
}
.rust {
    background-color: #f66e08;
    color: black;
}
.maroon {
    background-color: #550022;
    color: white;
}
.rose {
    background-color: #99011a;
    color: white;
}
.red {
    background-color: #f30f0c;
    color: black;
}
.watermelon {
    background-color: #ff7872;
    color: black;
}

.error {
    max-width: 700px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
}

.clickable {
    cursor: pointer;
}

@media only screen and (min-width: 721px) {
    nav {
        background-color: var(--nav-background-color);
        margin: 10px;
        padding: 10px;
        border-radius: 50px;
        box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
        display: flex;
        justify-content: space-around;
    }

    nav a, .changeYear {
        margin: 0 10px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        position: relative;
    }

    .changeYear {
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    nav a,
    nav a:after,
    nav a:before {
        transition: all 0.5s;
    }

    nav a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: #ffffff;
        height: 1px;
    }

    nav a:hover:after {
        width: 100%;
    }
    .btn {
        height: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    .large-screens-only {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    header h1 {
        font-size: 40px;
    }
    #logo {
        width: 50px;
        height: 50px;
    }
    .logo-square {
        width: 35px;
        height: 35px;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    nav a, .changeYear {
        background-color: var(--nav-background-color);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
         height: 50px;
        font-size: 20px;
        margin: 5px;
        text-decoration: none;
        box-sizing: border-box;
        text-align: center;
        border: 0;
    }
    .search-wrapper {
        flex-wrap: wrap;
    }
    input[type="text"],
    select {
        width: 100%;
    }
    .mobile {
        width: 45%;
    }
    .large-screens-only {
        display: none;
    }
}