<app-header [selectedYear]="year" [showSearch]="false" />
 @if (loading) {
        <app-loading />
    }
@if (!loading) {
    <main>
    <p>(More search options coming soon)</p>
    @if (errorMessage) {
<div class="error rose">{{errorMessage}}</div>
}
    @if (showStep > 1) {
    <h3>Year Selected: {{year}}</h3>
    <hr />
    }
    @if (showStep > 2 &&selectedPixels === 'all' ) {
    <h3>Generate image containing all pixels</h3>
    <hr />
    }
    @if (showStep > 3) {
    @if (username) {
    <h3>Generate image containing pixels placed by {{username}}</h3>
    <hr />
    }
    @if (instance) {
    <h3>Generate image containing pixels place by users from {{instance}}</h3>
    <hr />
    }
    }
    @if (showStep > 4) {
        <p>Step 4 should be here {{special}}</p>
        @if (special === 'all') {
            <h3>All pixels for instance</h3>
        }
        @if (special === 'reverse') {
            <h3>In reverse order</h3>
        }
        @if (special === 'top') {
            <h3>Pixels in the final canvas</h3>
        }
        @if (special === 'undo') {
            <h3>Pixels that where undone</h3>
        }
        <hr />
    }
    @if (showStep === 1) {
    <h3>Select a year:</h3>
    <div class="btn-wrapper">
        @for (setYear of years; track $index) {
        <button (click)="onSubmit(1, setYear)" [class]="getColor($index)">{{setYear}}</button>
        }
    </div>
    }
    @if (showStep === 2) {
    <!-- <h3>Generate image containing:</h3>
    <div class="btn-wrapper">
        <button class="btn green" (click)="onSubmit(2, 'all')">all pixels</button>
        <button class="btn blue" (click)="onSubmit(2, 'user')">pixels placed by user</button>
        <button class="btn orange" (click)="onSubmit(2, 'instance')">pixels placed by instance</button>
    </div>
    <h3>Or search for users who placed pixels within an area:</h3> -->
    <h3>Search for users who placed pixels within an area:</h3>
    @if (atlasForYear) {
        <p>(Use <a [href]="atlasForYear" target="_blank">the {{year}} Fediverse Canvas Atlas</a> to find the top left and bottom right coordinates)</p>
    }
    @else {
        <p>(Unfortunately there is no Atlas for 2023, so there is no easy way to find coordinates. Message <a href="https://sh.itjust.works/u/the_real_monte">the_real_monte on Lemmy</a> for help finding coordinates).</p>
    }
    <p>Top Left Coordinates</p>
    <input placeholder="X coordinate" type="number" [(ngModel)]="topLeft.xCoordinate"/>
    <input placeholder="Y coordinate" type="number" [(ngModel)]="topLeft.yCoordinate"/>
    <p>Bottom Right Coordinates</p>
    <input placeholder="X coordinate" type="number" [(ngModel)]="bottomRight.xCoordinate"/>
    <input placeholder="Y coordinate" type="number" [(ngModel)]="bottomRight.yCoordinate"/>
    <button class="btn green" (click)="searchUsersInArea()">Search</button>
    }
    @if (showStep === 3) {
    <h3>Enter username or instance name:</h3>
    @if (selectedPixels === 'user') {
    <div class="search-form-group">
        <div class="search-bar-container">
            <span class="material-symbols-outlined">
                search
            </span>
            <input [(ngModel)]="username" [value]="username" type="text" placeholder="username" class="search-bar"
                (keydown.enter)="onSubmit(3, '')" />
        </div>
        <button class="btn green" (click)="onSubmit(3, '')">Submit</button>
    </div>
    }
    @else {
    <div class="search-form-group">
        <div class="search-bar-container">
            <span class="material-symbols-outlined">
                search
            </span>
            <input [(ngModel)]="instance" [value]="instance" type="text" placeholder="instance" class="search-bar"
                (keydown.enter)="onSubmit(3, '')" />
        </div>
        <button class="btn green" (click)="onSubmit(3, '')">Submit</button>
    </div>
    }
    }
    @if (showStep === 4) {
    <div class="btn-wrapper">
        <button class="btn red" (click)="onSubmit(4, 'reverse')">Draw pixels in reverse order</button>
        <button class="btn purple" (click)="onSubmit(4, 'top')">Draw pixel in final canvas</button>
        <button class="btn lime" (click)="onSubmit(4, 'undo')">Draw pixels that where undone</button>
        @if (instance) {
            <button class="btn dark-teal" (click)="onSubmit(4, 'all')">Draw all pixels for instance</button>
        }
    </div>
    }
    @if (showStep === 5) {
        <h3>Select background color:</h3>
        <div class="btn-wrapper">
            <button class="btn white" (click)="onSubmit(5, 'white')">White</button>
            <button class="btn black" (click)="onSubmit(5, 'black')">Black</button>
            <button class="btn dark-grey" (click)="onSubmit(5, 'transparent')">Transparent</button>
        </div>
    }
    @if (showStep === 0) {
        <p>{{usersInArea.length}} users placed pixels with in ({{topLeft.xCoordinate}}, {{topLeft.yCoordinate}}) - ({{bottomRight.xCoordinate}}, {{bottomRight.yCoordinate}})</p>
        <ul>
            @for (user of usersInArea; track $index) {
                <li><a (click)="goToUser(user)" class="clickable-text">{{user}}</a></li>
            }
        </ul>
        <button class="btn blue" (click)="showStep = 1">Search Again</button>
    }

</main>
}
<app-footer />