<footer>
    <a href="https://sh.itjust.works/u/the_real_monte">
        <span class="material-symbols-outlined">
            mail
        </span> Message the_real_monte on Lemmy
    </a>
    <button class="header-link" (click)="sendTo('faq')">
        <span class="material-symbols-outlined">
            contact_support
        </span> F.A.Q.</button>
    <a href="https://github.com/TheRealMonte/therealmonte.github.io">
        <span class="material-symbols-outlined">
            code
        </span> GitHub Repo</a>
</footer>