footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer a {
    color: var(--body-color);
    text-decoration: none;
    margin: 10px;
    font-size: 15p;
    vertical-align:middle;
}
footer a:hover {
    text-decoration: underline;
}
footer span {
    margin: 5px 10px;
}
.material-symbols-outlined {
    vertical-align:middle;
    margin: 2px !important;
    font-size: 19px !important;
}

.footer-link {
    margin: 0 10px;
    color: var(--body-color);
    font-size: 20px;
    text-decoration: none;
    position: relative;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}