<app-header [selectedYear]="year" [showSearch]="true" />
@if(!finishedDrawing) {
<div class="popup-container">
    <div class="popup">
        <app-loading />
    </div>
</div>


}
<!-- UNCOMMENT LINE BELOW ABOUT GOING TO GENERATE CUSTOM CANVAS PAGE -->
@if (errorMessage) {
<div class="error rose clickable" routerLink="/advanced">{{errorMessage}}</div>
}
@if (!errorMessage) {
<main>
    <div id="main-canvas">
        <section id="space-between-wrapper">
            @if (sentFrom === 'user') {
                <button class="btn blue" (click)="sendUserToStats()"><span class="material-symbols-outlined">
                    arrow_back
                </span> Back to your {{year}} stats</button>
            }
            @else {
                @if (sentFrom === 'advanced') {
                    <button class="btn blue" routerLink="/advanced"><span class="material-symbols-outlined">
                    arrow_back
                </span> Return to Advanced Search</button>
                }
                @else { 
                    <button class="btn blue" (click)="goToYearHome()"><span class="material-symbols-outlined">
                    arrow_back
                </span> Back to {{this.year}} overview</button>
                }
            }
            <button (click)="downloadImage()" class="btn mauve">Download {{filename}}</button>
        </section>
        <article class="left">
            <section>
                <p class="text">
                    {{message}}
                </p>
            </section>
        </article>
        <canvas #pixelCanvas id="myCanvas" [height]="canvasHeight" [width]="canvasWidth"></canvas>
        <article class="left">
            <section>
                <!-- <p class="text">If you want to generate an image of the canvas with even more customization, go to <a routerLink="/custom">Generate Custom Images</a> page</p> -->
                <p class="text">If you would like an image generated that can't be made with this page, just message <a href="https://sh.itjust.works/u/the_real_monte">&#64;the_real_monte</a>
                    and we'll send you an image of your request.</p>
            </section>
        </article>

    </div>
</main>
}

<app-footer />