@if (stat?.type === 'text') {
<article [class]="stat?.direction">
    @if (stat?.icon) {
    <div class="icon">
        <span class="material-symbols-outlined">
            {{stat?.icon}}
        </span>
    </div>
    }
    <section>
        @if (stat?.header) {
        <h3>{{stat?.header}}</h3>
        }
        @for (paragraph of stat?.content; track $index) {
        <p class="text">{{paragraph.contentValue}}</p>
        }
    </section>
</article>
}

@if (stat?.type === 'colorCount') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <div class="colors-wrapper clickable">
            @for (color of colorCounts; track $index) {
            <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}:
                {{color.count}}</span>
            }
        </div>
    </section>
</article>
}

@if (stat?.type === 'userList') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <ul class="top-users">
            @for (user of stat?.content; track $index) {
            <li>{{user.contentValue}}</li>
            }
        </ul>
    </section>
</article>
}

@if (stat?.type === 'image') {

    @if (image) {
        <article [class]="stat?.direction">
    @if (stat?.icon) {
    <div class="icon">
        <span class="material-symbols-outlined">
            {{stat?.icon}}
        </span>
    </div>
    }
    <section>

        <h3>{{stat?.header}}</h3>
        <div class="center">
            <a [href]="image.imageURL" target="_blank" title="Click to enlarge"><img [class]="image.imageClass"
                    [src]="image.imageURL" [alt]="image.imageAlt" /></a>
        </div>
    </section>
    </article>>
    }
    @else {
        <article class="left">
        <div class="icon">
        <span class="material-symbols-outlined">
            error
        </span>
    </div>
    <section><p class="text">Couldn't load the image, please refresh the page</p></section>
    </article>
    }
}