@if (stat?.type === 'text') {
<article [class]="stat?.direction">
    @if (stat?.icon) {
    <div class="icon">
        <span class="material-symbols-outlined">
            {{stat?.icon}}
        </span>
    </div>
    }
    <section>
        @if (stat?.header) {
        <h3>{{stat?.header}}</h3>
        }
        @for (paragraph of stat?.content; track $index) {
        <p class="text" [innerText]="paragraph.contentValue"></p>
        }
    </section>
</article>
}

@if (stat?.type === 'colorCount') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <div class="colors-wrapper clickable">
            @for (color of colorCounts; track $index) {
            <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}:
                {{color.count}}</span>
            }
        </div>
    </section>
</article>
}

@if (stat?.type === 'userList') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <ul class="top-users">
            @for (user of stat?.content; track $index) {
            <li>{{user.contentValue}}</li>
            }
        </ul>
    </section>
</article>
}

@if (stat?.type === 'image') {
    <article [class]="stat?.direction">
        <section>
            <h3>{{stat?.header}}</h3>
                @for (image of stat?.content; track $index) {
                    <div class="center" [innerHTML]="image.contentValue"></div>
                }
        </section>
    </article>
}