@if (stat?.type === 'text') {
<article [class]="stat?.direction">
    @if (stat?.icon) {
    <div class="icon">
        <span class="material-symbols-outlined">
            {{stat?.icon}}
        </span>
    </div>
    }
    <section>
        @if (stat?.header) {
        <h3>{{stat?.header}}</h3>
        }
        @for (paragraph of stat?.content; track $index) {
        <p class="text" [innerText]="paragraph.contentValue"></p>
        }
    </section>
</article>
}

@if (stat?.type === 'colorCount') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <div class="colors-wrapper clickable">
            @for (color of colorCounts; track $index) {
                @if (color.colorVariable === 'white') {
                    <span [className]="color.colorVariable" (click)="showColorIMG(color.colorName, 1)">{{color.colorName}}: {{color.count}}</span>
                }
                @else {
                    <span [className]="color.colorVariable" (click)="showColorIMG(color.colorName, 2)">{{color.colorName}}: {{color.count}}</span>
                }
            
            }
        </div>
    </section>
</article>
}

@if (stat?.type === 'userList') {
<article [class]="stat?.direction">
    <section>
        <h3>{{stat?.header}}</h3>
        <ul class="top-users">
            @for (user of stat?.content; track $index) {
            <li>{{user.contentValue}}</li>
            }
        </ul>
    </section>
</article>
}

@if (stat?.type === 'image') {
    <article [class]="stat?.direction">
        <section>
            <h3>{{stat?.header}}</h3>
                @for (image of stat?.content; track $index) {
                    <div class="center" [innerHTML]="image.contentValue"></div>
                }
        </section>
    </article>
}
@if (stat?.type === 'generate') {
    <article [class]="stat?.direction">
        @if (stat?.icon) {
    <div class="icon">
        <span class="material-symbols-outlined">
            {{stat?.icon}}
        </span>
    </div>
    }
    <section>
        <h3>{{stat?.header}}</h3>
        @if (showCustomPrompt === 1) {
            <div class="btn-wrapper">
            @for (button of stat?.content; track $index) {
                <button [class]="getColor($index)" (click)="generateCustom(button.contentValue)">{{button.contentKey}}</button>
            }
        </div>
        }
        @if (showCustomPrompt === 2) {
            <div class="btn-wrapper">
                <button class="btn white" (click)="generateCustom('white')">With white background</button>
                <button class="btn black" (click)="generateCustom('black')">With black background</button>
                <button class="btn dark-gray" (click)="generateCustom('transparent')">With transparent background</button>
            </div>
        }
    </section>
    </article>
}