.pixel-demo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
}


.count {
    margin: 5px;
    padding: 5px;
}

.color-link {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.color-link:hover {
    border: 1px solid var(--body-color);
}

.full {
    width: 95%;
    display: block;
    margin: 10px auto;
}

#coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#coming-soon img {
    height: 70px;
}

#coming-soon h1 {
    font-size: 100px;
    margin: 0 10px;
    font-family: "Pixelify Sans", sans-serif;
    color: var(--body-color);
}