<app-header [selectedYear]="showYear" [showSearch]="true" />
@if (showYear !== 2025) {
<main>

    @if (error) {
    <p>{{error}}</p>
    }
    @if (showYear != 2025) {
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                person
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.userCount}} users from {{yearStat?.instanceCount}} instances placed pixels on
                the canvas</p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                grid_view
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.totalPixels}} total pixels placed on the canvas</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels by color <br />(click on the color to view all of the pixels of
                that color)</h3>
            <div class="colors-wrapper clickable">
                @for (color of yearStat?.colorCounts; track $index) {
                <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}:
                    {{color.count}}</span>
                }
            </div>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                layers
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.topPixels}} are the final pixels on the
                canvas, making the canvas {{yearStat?.percentCovered}}% covered at the end of the event</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels placed per minute</h3>
            <a [href]="yearStat?.pixelPerMinuteURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelPerMinuteURL" alt="a graph of the pixels placed per minute" /></a>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                kid_star
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.topCoordinateCount}} pixels were placed at {{yearStat?.topCoordinate}} making it
                the coordinate with the most
                pixels
        </section>
    </article>
    <article class="right">
        <section>
            <p class="text">The users that contributed to the top pixel were:</p>
            <ul class="top-users">
                @for (user of yearStat?.topCoordinateUsers; track $index) {
                <li>{{user}}</li>
                }
            </ul>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixel Heat Map</h3>
            <a [href]="yearStat?.pixelHeatMapURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelHeatMapURL" alt="heat map of the pixels placed" /></a>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.pixelsDeleted}} pixels were deleted by {{yearStat?.usersWhoDeleted}} users
            </p>
        </section>
    </article>
    @if (yearStat?.usersDeletedAll) {
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete_forever
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.usersDeletedAll}} users deleted every pixel they placed</p>
        </section>
    </article>
    <article class="left">
        <section>
            <a [href]="yearStat?.canvasImageURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.canvasImageURL" alt="The final canvas" /></a>
        </section>
    </article>
    }
    @if (yearStat?.canvasAtlasURL) {
    <section class="btn-wrapper">
        <p class="text"><a [href]="yearStat?.canvasAtlasURL" target="_blank" class="btn aqua">View the {{showYear}}
                Atlas</a></p>
    </section>
    }
    }
</main>
}
@if (showYear === 2025) {
<main>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                person
            </span>
        </div>
        <section>
            <p class="text">638 users from 435 instances placed pixels on the canvas<br/>(Down 1,274 users from 2024)</p>
            <p class="text">185 returning users from 2024 and 47 users who have participated in all 3 Canvas events.</p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                grid_view
            </span>
        </div>
        <section>
            <p class="text">313408 total pixels placed on the canvas<br/>(Down 329,235 pixels from 2024, but the canvas was twice as big in 2024)</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels by color <br /><!--(click on the color to view all of the pixels of
                that color)--></h3>
            <div class="colors-wrapper clickable">
                @for (color of yearStat?.colorCounts; track $index) {
                <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}:
                    {{color.count}}</span>
                }
            </div>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                layers
            </span>
        </div>
        <section>
            <p class="text">225444 are the final pixels on the
                canvas, making the canvas 90.1776% covered at the end of the event<br/>(Up 8.3684% from 2024)</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels placed per minute</h3>
            <p class="text" style="text-align: center;">Coming soon</p>
            <!-- <a [href]="yearStat?.pixelPerMinuteURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelPerMinuteURL" alt="a graph of the pixels placed per minute" /></a> -->
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                kid_star
            </span>
        </div>
        <section>
            <p class="text">158 pixels were placed at (304, 40) making it
                the coordinate with the most pixels
        </section>
    </article>
    <article class="right">
        <section>
            <p class="text">The users that contributed to the top pixel were:</p>
            <ul class="top-users">
                <li>Dexruus&#64;chaos.social</li>
                    <li>DmMacniel&#64;feddit.org</li>
                    <li>Sonne&#64;feddit.org</li>
                    <li>adlerweb&#64;social.adlerweb.info</li>
                    <li>flughoernchen&#64;feddit.org</li>
                    <li>hazyskies&#64;toast.ooo</li>
                    <li>Adopon&#64;lemmy.world</li>
                    <li>nuko147&#64;lemmy.world</li>
                    <li>xantater&#64;fbsweb.de</li>
                    <li>marius851000&#64;mariusdavid.fr</li>
                    <li>irelephant&#64;app.wafrn.net</li>
                    <li>Lokloy&#64;lemmy.world</li>
                    <li>D_a_X&#64;feddit.org</li>
                    <li>viviansequeira&#64;mastodon.world</li>
                    <li>elvith&#64;feddit.org</li>
                    <li>ace_garp&#64;lemmy.world</li>
                    <li>rrconkle&#64;lemmy.zip</li>
            </ul>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixel Heat Map</h3>
            <p class="text" style="text-align: center;">Coming soon</p>
            <!-- <a [href]="yearStat?.pixelHeatMapURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelHeatMapURL" alt="heat map of the pixels placed" /></a> -->
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
        <section>
            <p class="text">4969 pixels were deleted by 360 users<br/>(Down 10,755 pixels from 2024)
            </p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete_forever
            </span>
        </div>
        <section>
            <p class="text">0 users deleted every pixel they placed<br/>(Last year there were 13 users)</p>
        </section>
    </article>
    <article class="left">
        <section>
            <a href="https://raw.githubusercontent.com/TheRealMonte/images/refs/heads/main/2025/final.png" target="_blank" title="Click to enlarge"><img class="graph"
                    src="https://raw.githubusercontent.com/TheRealMonte/images/refs/heads/main/2025/final.png" alt="The final canvas" /></a>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels from the "megatemplate" that made it to the end of the event</h3>
            <a href="https://raw.githubusercontent.com/TheRealMonte/images/refs/heads/main/2025/compare.png" target="_blank" title="Click to enlarge"><img class="graph"
                    src="https://raw.githubusercontent.com/TheRealMonte/images/refs/heads/main/2025/compare.png" alt="The final canvas" /></a>
        </section>
    </article>
    <section class="btn-wrapper">
        <p class="text"><a href="https://atlas2025.mariusdavid.fr/" target="_blank" class="btn aqua">View the 2025 Atlas</a></p>
    </section>
</main>
}
<app-footer />

@if (showChangeYear) {
<div class="changeYearContainer">
    <div class="changeYearPopup">
        <h2>Select a year:</h2>
        <ul>
            @for (year of years; track $index) {
            <li><button (click)="changeYear(year)">{{year}}</button></li>
            }
        </ul>
    </div>
</div>
}