@if (showYear === 2025) {
<app-header [selectedYear]="showYear" [showSearch]="false" />
}
@if (showYear !== 2025) {
<app-header [selectedYear]="showYear" [showSearch]="true" />
}
@if (showYear !== 2025) {
<main>

    @if (error) {
    <p>{{error}}</p>
    }
    @if (showYear != 2025) {
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                person
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.userCount}} users from {{yearStat?.instanceCount}} instances placed pixels on
                the canvas</p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                grid_view
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.totalPixels}} total pixels placed on the canvas</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels by color <br />(click on the color to view all of the pixels of
                that color)</h3>
            <div class="colors-wrapper clickable">
                @for (color of yearStat?.colorCounts; track $index) {
                <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}:
                    {{color.count}}</span>
                }
            </div>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                layers
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.topPixels}} are the final pixels on the
                canvas, making the canvas {{yearStat?.percentCovered}}% covered at the end of the event</p>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixels placed per minute</h3>
            <a [href]="yearStat?.pixelPerMinuteURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelPerMinuteURL" alt="a graph of the pixels placed per minute" /></a>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                kid_star
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.topCoordinateCount}} pixels were placed at {{yearStat?.topCoordinate}} making it
                the coordinate with the most
                pixels
        </section>
    </article>
    <article class="right">
        <section>
            <p class="text">The users that contributed to the top pixel were:</p>
            <ul class="top-users">
                @for (user of yearStat?.topCoordinateUsers; track $index) {
                <li>{{user}}</li>
                }
            </ul>
        </section>
    </article>
    <article class="right">
        <section>
            <h3 style="text-align: center;">Pixel Heat Map</h3>
            <a [href]="yearStat?.pixelHeatMapURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.pixelHeatMapURL" alt="heat map of the pixels placed" /></a>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.pixelsDeleted}} pixels were deleted by {{yearStat?.usersWhoDeleted}} users
            </p>
        </section>
    </article>
    @if (yearStat?.usersDeletedAll) {
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                delete_forever
            </span>
        </div>
        <section>
            <p class="text">{{yearStat?.usersDeletedAll}} users deleted every pixel they placed</p>
        </section>
    </article>
    <article class="left">
        <section>
            <a [href]="yearStat?.canvasImageURL" target="_blank" title="Click to enlarge"><img class="graph"
                    [src]="yearStat?.canvasImageURL" alt="The final canvas" /></a>
        </section>
    </article>
    }
    @if (yearStat?.canvasAtlasURL) {
    <section class="btn-wrapper">
        <p class="text"><a [href]="yearStat?.canvasAtlasURL" target="_blank" class="btn aqua">View the {{showYear}}
                Atlas</a></p>
    </section>
    }
    }
</main>
}
@if (showYear === 2025) {
<main>
    <h2 style="text-align: center;"></h2>
    @if (!eventInProgress) {
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                calendar_today
            </span>
        </div>
        <section>
            <p class="text">
                <a href="https://canvas.fediverse.events/" target="_blank">Canvas 2025</a> will take place {{start}}
                through {{end}}
            </p>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                hourglass_bottom
            </span>
        </div>
        <section>
            <p class="countdown">
                @if (timeRemaining.days > 0) {
                    {{ timeRemaining.days }}d
                    } 
                @if (timeRemaining.hours > 0) {
                    {{ timeRemaining.hours }}h
                } {{ timeRemaining.minutes }}m {{
                timeRemaining.seconds }}s
            </p>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                info
            </span>
        </div>
        <section>
            <p class="text">
                This website will have semi-frequent updates on the state of the canvas during the event. Full stats, graphs, and user rankings will be added after the event concludes.</p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                link
            </span>
        </div>
        <section>
            <p class="text">
                More info about the event can be found on <a href="https://fediverse.events/"
                    target="_blank">Fediverse.events</a>
            </p>
        </section>
    </article>
    }
    @if (eventInProgress) {
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                info
            </span>
        </div>
        <section>
            <p class="text">This site was last updated at {{liveStats?.timestamp}}
                <br />The Canvas is currently ({{liveStats?.canvasXDimension}} X
                {{liveStats?.canvasYDimension}})
            </p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                link
            </span>
        </div>
        <section>
            <p class="text">Go to the <a href="https://canvas.fediverse.events/?2025">canvas website</a> and place some pixels!</p>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                hourglass_bottom
            </span>
        </div>
        <section>
            <p class="countdown"> Time remaining:<br />
                @if (timeRemaining.days > 0) {
                    {{ timeRemaining.days }}d
                    } 
                @if (timeRemaining.hours > 0) {
                    {{ timeRemaining.hours }}h
                } {{ timeRemaining.minutes }}m {{
                timeRemaining.seconds }}s
            </p>
        </section>
    </article>
    <article class="left">
        <section>

        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                layers
            </span>
        </div>
        <section>
            <p class="text">Not counting white pixels, the canvas is {{liveStats?.percentCovered}} covered</p>
        </section>
    </article>
    <article class="left">
        <section>
            <h3 style="text-align: center;">Pixels by color</h3>
            <div class="colors-wrapper">
                @for (color of liveStats?.colors; track $index) {
                <span [className]="color.className">{{color.name}}:
                    {{color.count}}</span>
                }
            </div>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                person
            </span>
        </div>
        <section>
            <p class="text">{{liveStats?.usersOnline}} were online when this site last updated</p>
        </section>
    </article>
    <article class="right">
        <div class="icon">
            <span class="material-symbols-outlined">
                kid_star
            </span>
        </div>
        <section>
            <p class="text">The highest number of users online was {{liveStats?.mostUsersOnline}} at
                {{liveStats?.mostUsersOnlineTime}}
        </section>
    </article>
    <article class="left">
        <section>
            <h3 style="text-align: center;">Users Online Over Time</h3>
            <div class="btn-wrapper">
                <img class="graph-live"
                    src="https://raw.githubusercontent.com/TheRealMonte/data-files/refs/heads/main/2025/usersOnline.png"
                    alt="Users Online Over Time" />
            </div>
        </section>
    </article>
    <article class="left">
        <div class="icon">
            <span class="material-symbols-outlined">
                info
            </span>
        </div>
        <section>
            <p class="text">Full stats inculding graphs and user ranking will be added to the site after the event has
                ended</p>
        </section>
    </article>
    }
    <section class="btn-wrapper"><button class="btn green" (click)="showYearSelection()">View Previous Year's
            Stats</button></section>
</main>
}
<app-footer />

@if (showChangeYear) {
<div class="changeYearContainer">
    <div class="changeYearPopup">
        <h2>Select a year:</h2>
        <ul>
            @for (year of years; track $index) {
            <li><button (click)="changeYear(year)">{{year}}</button></li>
            }
        </ul>
    </div>
</div>
}