.pixel-demo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
}


.count {
    margin: 5px;
    padding: 5px;
}

.color-link {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.color-link:hover {
    border: 1px solid var(--body-color);
}

.full {
    width: 95%;
    display: block;
    margin: 10px auto;
}


@media only screen and (max-width: 720px) {
    .countdown {
    font-size: 40px
}
}

@media only screen and (min-width: 721px) {
    .countdown {
    font-size: 50px;
}
}