.changeYearContainer {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0);
}

.changeYearPopup {
    text-align: center;
    margin: 20px;
    width: 900px;
    z-index: 3;
    background-color: var(--main-background-color);
    padding: 20px;
    border-radius: 5px;
    font-size: 25px;
}

.changeYearPopup ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.changeYearPopup ul li {
    flex: 1;
    text-align: center;
    background-color: transparent;
}

.changeYearPopup ul li button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 10px;
    background-color: var(--nav-background-color);
    color: white;
    border: 0;
    cursor: pointer;
}

.changeYearPopup ul button:hover {
    background-color: var(--body-color);
    color: var(--main-background-color);
}

@media only screen and (max-width: 720px) {
    .changeYearPopup ul {
        flex-direction: column;
    }
}
